{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block head_title %}MY APP{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/item.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" >
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}" >
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
<!----------------ONLINE------->
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
<script src="js/jquery.elevatezoom.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>



  
<style>
.navbar-default{
background: grey;
}
.modal-footer{
background:#00CC99;
}
        
#myBODY {
   background-image:url('{{ STATIC_URL }} item/1.png');
    background-size:auto;
   min-height: 100px; 
    weight:120px;
    padding-top: auto;
    background-repeat: no-repeat;}
    
    .mtb
    {
        padding-top: 5%;
        padding-left: 20%;
        padding-bottom: 10%;
}
</style>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<h1><a href="{% url 'post_new' %}">DonateItems</a></h1>
</head>
<body>
 <div class="page-header">
<a href="#" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% include "products/header.html" %}
<div id="myBODY"> 
           
            <div class="mtb">
                 <h2>E-CHARITY FOR HUMANITY</h2>
            <form role="form" action="#" method="post" enctype="plain">
                <input type="text" name="search" class="form-control1" placeholder="Searche and Explore your vlues and things.."/>
 <button type="submit" class="btn btn-default" onclick="myfunction()">Submit</button></form>        
</div></div></div>
   {% block content %}
            {% endblock %}
<br >

<div id="footer"></div> 
</body>
</html>
