{% extends "items/base.html" %}

{% block content %}
    <h1 style="color:brown;">Add Item</h1>
    <form method="POST" class="post-form">{% csrf_token %}
<div class="register_div">
        
        <p><label for="username" class="error">Title</label></p>
        <p>{{ form.title }}</p>
</div>
<div class="register_div">
        
        <p><label for="username" class="error">Quentity</label></p>
        <p>{{ form.quentity }}</p>
</div>
<div class="register_div">
        
        <p><label for="username" class="error">Zipcode</label></p>
        <p>{{ form.zipcode }}</p>
</div>   
<div class="register_div">
        
        <p><label for="username" class="error">Discription</label></p>
        <p>{{ form.discription }}</p>
</div>
<div class="register_div">
        
        <p><label for="username" class="error">Address</label></p>
        <p>{{ form.address }}</p>
</div>  
		
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
