{% extends "dashboard.html"%}
{% block content %}
    <h1>CHANGE YOUR PROFILE IMAGE</h1>
<div id="rtitle">Edit Profile</div><br />
    <form enctype="multipart/form-data"  method="POST" action="." class="postimg-form">{% csrf_token %}
       
		{{ avtar.as_p }}
		
        <input type="submit" value="Submit" id="submit" class="save btn btn-default"/>
    </form>
<p>
  Profile Pic: &nbsp;&nbsp;&nbsp;<img border="1px" alt="Profile Pic" src="{{ user.userprofile.get_avatar }}"  width="230px" height="180px" />
</p>

{% endblock %}
