{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% if request.user.is_authenticated %}
<div class="container">
<div class="jumbotron"><img src='{% static "img/snap/1log.png" %}'
	</div></div>
		
<p>YOUR ARE ALREADY LOGIN<P>
<p> FOR FRESHES REGISTRTION LOGOUT FIRST<p><a href="{% url 'auth_logout' %}" type="button" class="btn btn-info btn-lg">Logout</a></button>
</div></div>
{% else %}
<div class="container">
<div class="jumbotron"><img src='{% static "img/snap/1ragi.jpg" %}'
	</div>
		</div>
<div class="container">
<div class='row'>
<div class="col-md-1"></div>
<div class="col-md-4">
<h1>Social App! login</h1>
  <form><br><br>

<div>
  <a href="#"><img src='{% static "img/fb.png" %}' id="loginBtn" onclick="logIn();" value="Login" /></a></div><br><br>
<div>
  <a href="http://www.twitter.com"><img src='{% static "img/tw.png" %}'/></a></div><br><br>
<div>
  <a href="http://www.gmail.com"><img src='{% static "img/gplus.png" %}' /></a></div><br><br>
  </form>
<div><a href="{% url 'auth_login' %}" class="btn btn-info btn-l square-btn-adjust">ALREADY REGISTER SING UP </a></div>        
 </div>
<div class="col-md-7">
<h1>Register for free!</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
</form>
</div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Please Enter Correct Email-Id activation key Send on It</p>
</div>
</div></div></div>
 {% endif %}
{% endblock %}
