{% extends "dashboard.html" %}        
{% load i18n %} 
{% load url from future %}

{% block content %} 
<div class="container" class="responsive" style="height: auto; width: auto; background-color: DarkCyan">
<h1><b>{% trans "Sent Message" %}<b></h1><br><br><br><hr/>
<div class="container" style="height:130%; width: auto; color:DarkCyan; background-color: PaleTurquoise"><br><br><br>


{% if message_list %}

<div class="row">
<div class="col-md-3">
 
<h2>{% trans "Recipient" %}</h2></div>
<div class="col-md-3">
<h2>{% trans "Subject" %}</h2></div>
<div class="col-md-3">
<h2>{% trans "Sent" %}</h2></div>
<div class="col-md-3">
<h2>{% trans "Action" %}</h2></div>
</div>
<hr/>
{% for message in message_list %} 
   <div class="row">
<div class="col-md-3">{{ message.recipient }}</div>
<div class="col-md-3"> <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a></div>
<div class="col-md-3">{{ message.sent_at|date:_("DATETIME_FORMAT") }}</div>
<div class="col-md-3"><a href="{% url 'messages_delete' message.id %}?next={% url 'messages_outbox' %}">{% trans "delete" %}</a></div>
    </div>
{% endfor %}
    
{% else %}
<div>
<p><h1>{% trans "There is no messages in Your SentBox.."  %}</h1></p></div></div>
{% endif %}   
{% endblock %}
