{% extends "dashboard.html" %}        
{% load i18n %} 
{% load url from future %}

{% block content %} 
<h1><b>{% trans "Sent Messages" %}<b></h1>
<hr/>

{% if message_list %}

<div class="row">
<div class="col-md-3">
 
<h2>{% trans "Recipient" %}</h2></div>
<div class="col-md-3">
<h2>{% trans "Subject" %}</h2></div>
<div class="col-md-3">
<h2>{% trans "Sent" %}</h2></div>
<div class="col-md-3">
<h2>{% trans "Action" %}</h2></div>
</div>
<hr/>
{% for message in message_list %} 
   <div class="row">
<div class="col-md-3">{{ message.recipient }}</div>
<div class="col-md-3"> <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a></div>
<div class="col-md-3">{{ message.sent_at|date:_("DATETIME_FORMAT") }}</div>
<div class="col-md-3"><a href="{% url 'messages_delete' message.id %}?next={% url 'messages_outbox' %}">{% trans "delete" %}</a></div>
    </div>
{% endfor %}
    
{% else %}
<div>
<p><b>{% trans "No messages." %}<b></p></div>
{% endif %}   
{% endblock %}
