{% extends "dashboard.html" %}        
{% load i18n %} 
{% load url from future %}

{% block content %} 
<h1><b>{% trans "Deleted Messages" %}<b></h1>
<hr/>
{% if message_list %} 
<div class="row">
<div class="col-md-3">
 
<h2>{% trans "Recipient" %}</h2></div>
<div class="col-md-3">
<h2>{% trans "Subject" %}</h2></div>
<div class="col-md-3">
<h2>{% trans "Sent" %}</h2></div>
<div class="col-md-3">
<h2>{% trans "Action" %}</h2></div>
</div>
<hr/>
{% for message in message_list %} 
    <div class="row">
<div class="col-md-3">
       {{ message.sender }}</div>
<div class="col-md-3">
        {{ message.subject }}</div>
 <div class="col-md-3">
{{ message.sent_at|date:_("DATETIME_FORMAT") }}</div>
        <div class="col-md-3"><a href="{% url 'messages_undelete' message.id %}">{% trans "undelete" %}</a></div>
    </div>
{% endfor %}
   
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
<br />
<p>{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}</p>
{% endblock %}
