{% extends "dashboard.html" %}
{% block content %}
<!DOCTYPE html>



        <body>
                <!-- List of uploaded documents -->
             
                  {% load staticfiles %}
 <!----{% for document in document %}
                                <li>
                  {{  document.firstname }}           <img src="{{ document.docfile.url }}" alt="{{ document.docfile.name }}">
                                </li>
                        {% endfor %}---->
              

                <!-- Upload form. Note enctype attribute! -->

               <div class="container-fluid" style="height: 900px; width: auto; color:DarkCyan; background-color: PaleTurquoise"><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
 

<p><b><h2>REVEAL YOUR PERSONAL DETAILS WITH US..</h2></b></p>
                <form action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.user.label_tag }}</p>
                          {{ form.user }}
                         
  <div class="col-md-6">
                            
                   {{ form.firstname.label_tag }}</div> 
  <div class="col-md-6"> {{form.firstname}} </div><br><br><br><br>
                           
                         
                      <div class="col-md-6">   

                        {{ form.lastname.label_tag }}</div>
                          <div class="col-md-6">   
                           {{form.lastname}} </div><br><br><br><br>
  <div class="col-md-6">
                        {{ form.address.label_tag }}</div>
                           <div class="col-md-6">  
                           {{form.address}} </div><br><br><br><br>
   
                          <div class="col-md-6">
                                {{ form.docfile.errors }}{{ form.docfile.label_tag }}</div>
<div class="col-md-6">
                         {{ form.docfile }}   </div>
                                <br><br> <br><br> <br><br>
                        <div class="col-md-5"></div><div class="col-md-7">
                        <p><input type="submit" class="btn btn-info btn-lg"  value="Submit" /></p></div>
                </form>
</div> </body>

</html>
{% endblock %}
