<br><br><br>
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<title>{% block head_title %}Icharity{% endblock %}</title>
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
	<!-- BOOTSTRAP STYLES-->
	<link href="{% static 'fotter/css/main.css' %}" rel="stylesheet">
     <!-- FONTAWESOME STYLES-->

        <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />   
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/bootstrap.min.css'  %}" type="text/css" />
<link href="{% static 'css/bootstrap-theme.css' %}" type="text/css" />
<link href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css" />
<script src="{% static 'js/classie1.js' %}"></script>
<script src="{% static 'js/classie2.js' %}"></script>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />


      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>

</head>
<body>

{% include "products/header.html" %}
</div>
<div id="wrapper" class="responsive" style="background-color:DarkCyan">
   <nav class="navbar-default navbar-side" role="navigation" style="background-color:DarkCyan">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                     {% load staticfiles %}
 
                        
                        
             {% if document %}
                                
 {% for document in document %}
                                <img src="{{ document.docfile.url }}" class="img-circle" id="circle" alt="{% static 'assets/img/find_user.png' %}"/>
                      {% endfor %}
          
                        {% else %}
                       <img id="blah" src="{% static 'assets/img/find_user.png' %}" class="img-circle" id="circle"   alt="your selected item"/></li>								
                {% endif %}                                           
		</li>	
	{% for document in document %}
 		<li><b><center> {{document.firstname}}{{request.user.first_name}}&nbsp;{{ document.lastname}}{{ request.user.last_name}}</center></b> 
                   </li>
	{% endfor %}				
			 <li>
                     <a href="{% url 'messages_inbox' %} "><i class="fa fa-qrcode fa-3x"></i> MESSAGE</a>
                    </li>			
                    <li>
                        <a href="/products/list/ "><i class="fa fa-dashboard fa-3x"></i> DONATE ITEM</a>
                    </li>
                    <li>
                        <a href="/products/service/ "><i class="fa fa-dashboard fa-3x"></i> DONATE SERVICE</a>
                    </li>
                       <li  >
                       <a href="{% url 'post_history' %} "><i class="fa fa-bar-chart-o fa-3x"></i> HISTORY</a>
                    </li>	
                      <li>
                        <a href="{% url 'profiles' %} "><i class="fa fa-table fa-3x"></i> PROFILE</a>
                    </li>	
                      <li>
			<a href="{% url 'edit' %} "><i class="fa fa-square-o fa-3x"></i>EDIT PROFILE</a>
                    </li>
                  <li>
                        <a href="{% url 'dashboard' %} "><i class="fa fa-square fa-3x"></i> GREETING</a>
                    </li>	
                </ul>
               
            </div> 
            
        </nav>  

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" style="background-color:LightSkyBlue">
            <div id="page-inner" style="background-color:LightSkyBlue">
                <div class="row" >
                    <div class="col-md-12" style="background-color:LightSkyBlue">
                     <h1 style="font-family: oswald">Dashboard</h1>   
                        <h3 style="font-family: oswald">Welcome  <u><b>{{ request.user.username }}</b></u> to see you back. </h3>
                    </div>
                 </div>            
                 <!-- /. ROW  -->
                  
                <div class="row"style="background-color:LightSkyBlue" >
                <div class="col-md-3 col-sm-6 col-xs-6"style="background-color:LightSkyBlue">           
		<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon" style="padding-top: 20px">
                 <i class="fa fa-envelope-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                    <a href="{% url 'messages_inbox' %}"><p class="text-muted">INBOX</p></a>
                </div> 
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon"  style="padding-top: 20px">
                    <i class="fa fa-external-link"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                    <a href="{% url 'messages_outbox' %}"><p class="text-muted">OUTBOX</p></a>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon"  style="padding-top: 20px">
                    <i class="fa fa-pencil-square-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                    <a href="{% url 'messages_compose' %}"><p class="text-muted">TEXT</p></a>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon"  style="padding-top: 20px">
                    <i class="fa fa-trash-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                    <a href="{% url 'messages_trash' %}"><p class="text-muted">TRASH</p></a>
                </div>
             </div>
		     </div>
			
          <hr>
      
  
<hr>
<!-- end .container-fluid_12 -->


</div>

<script type="text/javascript">
            $(document).ready(function(){
            $('#imgInp').on('change', function() {
            readPath(this);
            });
            });

            function readPath(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
          $('#blah').attr('src', e.target.result);
            }
          reader.readAsDataURL(input.files[0]);
                }
            }
        </script>

              
               
                 <!-- /. ROW  -->
{% block content %}
{% endblock %}
       </div>   </div>     </div>     
{% include "products/footer1.html" %}
                        
                <!-- /. ROW 
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
 
</body>
</html>

