<br><br><br>
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<title>{% block head_title %}Icharity{% endblock %}</title>
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USER MESSAGE</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href="{% static 'http://fonts.googleapis.com/css?family=Open+Sans' %}" rel='stylesheet' type='text/css' />

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/bootstrap.min.css'  %}" type="text/css" />
<link href="{% static 'css/bootstrap-theme.css' %}" type="text/css" />
<link href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css" />
<script src="{% static 'js/classie1.js' %}"></script>
<script src="{% static 'js/classie2.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
<script src="{% static 'js/modernizr.js' %}"></script> 
<!----------------ONLINE------->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
<script src="{% static 'js/facebook.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
 

</head>
<body>

{% include "products/header.html" %}

<div id="wrapper" style="background-color:DarkCyan">
   <nav class="navbar-default navbar-side" role="navigation" style="background-color:DarkCyan">
            <div class="sidebar-collapse" >
                <ul class="nav" id="main-menu" >
				<li class="text-center">
                                     {% load staticfiles %}
 
                        
                        
             {% if document %}
                                
 {% for document in document %}
                                <img src="{{ document.docfile.url }}" class="img-circle" id="circle"   alt="{% static 'assets/img/find_user.png' %}"/>
                      {% endfor %}
          
                        {% else %}
                       <img id="blah" src="{% static 'assets/img/find_user.png' %}" class="img-circle" id="circle"  alt="your selected item"/>
								
                {% endif %}
                                           
	</li>	
<li><b><center> {{document.firstname}}&nbsp;{{ document.lastname}}</center></b>
                   </li>				
			 <li>
                     <a href="{% url 'messages_inbox' %} "><i class="fa fa-qrcode fa-3x"></i> MESSAGE</a>
                    </li>		
                    <li>
                        <a href="{% url 'list' %} "><i class="fa fa-dashboard fa-3x"></i> DONATE ITEM</a>
                    </li>
                          <li  >
                       <a href="{% url 'post_history' %} "><i class="fa fa-bar-chart-o fa-3x"></i> HISTORY</a>
                    </li>
			<li>
                        <a href="{% url 'profiles' %} "><i class="fa fa-table fa-3x"></i> PROFILE</a>
                    </li>	
                      <li>
			<a href="{% url 'edit' %} "><i class="fa fa-square-o fa-3x"></i>EDIT PROFILE</a>
                    </li>
                  <li>
                        <a href="{% url 'dashboard' %} "><i class="fa fa-square fa-3x"></i> GRETTING</a>
                    </li>	
                </ul>
               
            </div> 
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" style="background-color:LightSkyBlue" >
            <div id="page-inner" style="background-color:DarkCyan">
                <div class="row">
                    <div class="col-md-12">
                     <h1>Dashboard</h1>   
                        <h3>Welcome  <u><b>{{ request.user.username }}</b></u> to see you back. </h3>
                    </div>
                 </div>            
                 <!-- /. ROW  -->
                  <hr />
                
			
          <hr>
      
  <!-- end .container_12 -->

{% block content %}
{% endblock %}
</div>



              
                
                 <!-- /. ROW  -->

</div>     </div>
</div>                
{% include "products/footer1.html" %}
                        
                <!-- /. ROW 
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
 
</body>
</html>

