{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<title>FAQ ECHARITY</title>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/bootstrap.min.css'  %}" type="text/css" />
	<link href="{% static 'css/bootstrap-theme.css' %}" type="text/css" />
	<link href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css" />
<!----------------ONLINE------->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Oswald">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>

<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->


<style>
.navbar-default{
background: white;

}
.modal-footer{
background:LightSteelBlue;
}

    .cd-faq-categories,.cd-faq-title{
        font-size-adjust: 1.58;}
    .cd-faq-content{
             font-size-adjust: 1.00;}
    .mtb
    {
        padding-top: 15%;
        padding-left: 20%;
}
   .navbar-collapse
 {
        padding-top: 1%;
        padding-left: auto;
}
</style>
</head>
<body style="background: Lavender">
<div class="navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<h1><a href="{% url 'home' %}"><b>ECHARITY</b></a></h1>
</div>
<div class="navbar-collapse ">
<ul class="nav navbar-nav navbar-right">
<!-- Trigger the modal with a button -->
 <form class="navbar-form navbar-left" method="GET" role="search" action='{% url "products" %}'>
<div class="form-group">
<input type="text" class="form-control" placeholder="Search" name='q'>
</div>
               <!-- <input type="submit" class="btn btn-default">Submit</button> -->
            </form>

<li role="presentation" ><a href="{% url 'home' %}"><b>HOME</b></a></li>&nbsp;&nbsp;
{% if request.user.is_authenticated %}
<a href="{% url 'auth_logout' %}" type="button" class="btn btn-info btn-lg">Logout</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="{% url 'dashboard' %}" type="button" class="btn btn-info btn-lg">Dashboard</a></button>
{% else %}
<button type="button"  class="btn btn-info btn-lg" data-toggle="modal" id='rim' data-target="#login">LOGIN HERE</button>
 {% endif %}
</ul>
</div>
</div>
    </div></div>
 <div class="modal fade" id="login" role="dialog">
<div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-footer">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">LOGIN HERE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
        </div>
    <div class="modal-body">
<b>Already REGISTER Click Here <b>
<a href="{% url 'auth_login' %}"> <img src='{% static "img/snap/01sig.png" %}' /> </a><hr>
<b>First Time User Click Here <b>     
 <a href="{% url 'registration_register' %}"> <img src='{% static "img/snap/0001user" %}' /> </a>
                </div>
<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
       
      </div>

    </div>
  </div>
    <br/>
<br>


<img src='{% static "img/snap/011faq.jpg" %}'

		</div>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">Basics</a></li>
		<li><a href="#mobile">Mobile</a></li>
		<li><a href="#account">Account</a></li>
		<li><a href="#payments">Payments</a></li>
		<li><a href="#privacy">Privacy</a></li>
		<li><a href="#delivery">Delivery</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Basics</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How do I change my password?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I sign up?</a>
				<div class="cd-faq-content">
<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Can I remove a post?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do reviews work?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="mobile" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Mobile</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How does syncing work?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I upload files from my phone or tablet?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I link to a file or folder?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="account" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Account</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How do I change my password?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I delete my account?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I change my account settings?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">I forgot my password. How do I reset it?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="payments" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Payments</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Can I have an invoice for my subscription?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Why did my credit card or PayPal payment fail?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Why does my bank statement show multiple charges for one upgrade?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="privacy" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Privacy</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Can I specify my own private key?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">My files are missing! How do I get them back?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How can I access my account data?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How can I control if other search engines can link to my profile?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="delivery" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Delivery</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What should I do if my order hasn't been delivered yet?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How can I find your international delivery information?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Who takes care of shipping?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do returns or refunds work?</a>
				<div class="cd-faq-content">
<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I use shipping profiles?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How does your UK Next Day Delivery service work?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How does your Next Day Delivery service work?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">When will my order arrive?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">When will my order ship?</a>
				<div class="cd-faq-content">
					<p>It's time to re-think charity.It's time to give charity the big-league freedoms we really give to business...The fight for these freedoms must be our new cause, because without them, all of our causes are ultimately lost.".</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
</div>
{% include "products/footer.html" %}
</div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>


