{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

{% load staticfiles %}
    <link href="{% static 'fotter/css/prettyPhoto.css' %}" rel="stylesheet"> 
  
<img src='{% static "img/snap/00url.png" %}'
	</div>
<section id="map-section">
<div class="row">
        <div class="md-6">
            <div id="gmap"></div>
       
<div class='col-sm-6 col-sm-offset-3'>


{% if title %}
<h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
{% endif %}

<form method='post' action='.'>{% csrf_token %}
{{ form|crispy }}

<input class='btn btn-success' type='submit' value='Submit' onclick="confirm('HAVE YOU ENTER CORRECT VALUES')" />

</form>
</div>
</div>
    </section>
    <!--/#action-->
</div></div>
     <!--/#map-section-->        

    
    <!--/#footer-->


    
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{% static 'fotter/js/gmaps.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/main.js' %}"></script>   
</body>

{% endblock %}
