{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="width:1286px;height:920px;padding:10px;border:10px groove DarkGreen; background-color:LightYellow">
     <div class="row">
                    <div class="col-md-12">
                        <center><h2>Our Memories</h2></center>
                         <i style="text-align: center"><h3>“One lives in the hope of becoming a memory” </h3></i>
                    </div>
              <div class="col-md-12" style="align: center; padding-left:170px">
                          <div class="container">

                              <p><u><h3>Children / Our Future</h3></u></p>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:200px; width:860px; padding-left:10px">
   <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="width: 900px; padding-right:10px">
      <div class="item active">
                 <div class = "row">

  <div class = "col-sm-6 col-md-3">

      <div class="img" style="height: 153px; width:153px">
 <img id="img1" src="{% static 'img/ec2.jpeg' %}">
      </div>

   </div>

   <div class = "col-sm-6 col-md-3">

       <div class="img" style="height: 153px; width:153px">
     <img id="img2" src="{% static 'img/happy2.jpeg' %}">
</div>

   </div>

   <div class = "col-sm-6 col-md-3">

       <div class="img" style="height: 153px; width:153px">
     <img id="img3" src="{% static 'img/ec3.jpeg' %}">
   </div>
      </div>

   <div class = "col-sm-6 col-md-3">

    <div class="img" style="height: 153px; width:153px">
    <img id="img4" src="{% static 'img/ec4.jpeg' %}">
</div>

   </div>
   </div>
  </div>
        <div class="item">
 <div class = "row">

   <div class = "col-sm-6 col-md-3">

       <div class="img" style="height: 153px; width:153px">
     <img id="img5" src="{% static 'img/edu1.jpeg' %}">
</div>

   </div>

   <div class = "col-sm-6 col-md-3">
       <div class="img" style="height: 153px; width:153px">
     <img id="img6" src="{% static 'img/happy3.jpeg' %}">
</div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class="img" style="height: 153px; width:153px">
 <img id="img7" src="{% static 'img/happy5.jpeg' %}">
</div>
   </div>

   <div class = "col-sm-6 col-md-3">
    <div class="img" style="height: 153px; width:153px">
 <img id="img8" src="{% static 'img/b32.jpg' %}">
</div>
   </div>
   </div>
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="float:leftt; padding-right:-60px; width:9px; height:0px; margin-top:77px; color:MidnightBlue">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="ture"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="float:right; margin-right: -60px; width:2px; height:0px; margin-top:77px; color:MidnightBlue">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

                     </div>
        </div>
                      <div class="col-md-12" style="align: center; padding-left:170px">
                          <div class="container">

                              <p><u><h3>Citizens / Our Experience</h3></u></p><div id="myCarousel1" class="carousel slide" data-ride="carousel" style="height:200px; width:860px; padding-left:10px">
   <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="width: 900px; padding-right:10px">
      <div class="item active">
                 <div class = "row">

  <div class = "col-sm-6 col-md-3">

      <div class="img" style="height: 153px; width:153px">
          <img id="img1" src="{% static 'img/old1.jpeg' %}">
      </div>

   </div>

   <div class = "col-sm-6 col-md-3">

       <div class="img" style="height: 153px; width:153px">
     <img id="img2" src="{% static 'img/old2.jpeg' %}">
</div>

   </div>

   <div class = "col-sm-6 col-md-3">

       <div class="img" style="height: 153px; width:153px">
     <img id="img3" src="{% static 'img/old3.jpeg' %}">
</div>
   </div>

   <div class = "col-sm-6 col-md-3">
<div class="img" style="height: 153px; width:153px">
 <img id="img4" src="{% static 'img/old4.jpeg' %}">
</div>

   </div>
   </div>
  </div>
        <div class="item">
 <div class = "row">

   <div class = "col-sm-6 col-md-3">

       <div class="img" style="height: 153px; width:153px">
     <img id="img5" src="{% static 'img/old5.jpeg' %}">
</div>

   </div>

   <div class = "col-sm-6 col-md-3">
       <div class="img" style="height: 153px; width:153px">
     <img id="img6" src="{% static 'img/old6.jpeg' %}">
</div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class="img" style="height: 153px; width:153px">
 <img id="img7" src="{% static 'img/old8.jpeg' %}">
</div>
   </div>

   <div class = "col-sm-6 col-md-3">
    <div class="img" style="height: 153px; width:153px">
 <img id="img8" src="{% static 'img/old7.jpeg' %}">
</div>
   </div>
   </div>
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev" style="float:left; padding-right:-60px; width:9px; height:0px; margin-top:77px; color:MidnightBlue">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="ture"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next" style="float:right; margin-right: -60px; width:2px; height:0px; margin-top:77px; color:MidnightBlue">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
                 </div>
                      <div class="col-md-12" style="align: center; padding-left:170px">
                          <div class="container">

                              <p><u><h3>Womens / Our Power</h3></u></p><div id="myCarousel2" class="carousel slide" data-ride="carousel" style="height:200px; width:860px; padding-left:10px">
   <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="width: 900px; padding-right:10px">
      <div class="item active">
                 <div class = "row">

  <div class = "col-sm-6 col-md-3">

      <div class="img" style="height: 153px; width:153px">
          <img id="img1" src="{% static 'img/we1.jpeg' %}">
      </div>

   </div>

   <div class = "col-sm-6 col-md-3">

       <div class="img" style="height: 153px; width:153px">
     <img id="img2" src="{% static 'img/we2.jpeg' %}">
</div>

   </div>

   <div class = "col-sm-6 col-md-3">

       <div class="img" style="height: 153px; width:153px">
     <img id="img3" src="{% static 'img/we3.jpeg' %}">
</div>
   </div>

   <div class = "col-sm-6 col-md-3">
<div class="img" style="height: 153px; width:153px">
 <img id="img4" src="{% static 'img/we4.jpeg'%}">
</div>

   </div>
   </div>
  </div>
        <div class="item">
 <div class = "row">

   <div class = "col-sm-6 col-md-3">

       <div class="img" style="height: 153px; width:153px">
     <img id="img5" src="{% static 'img/we5.jpeg' %}">
</div>

   </div>

   <div class = "col-sm-6 col-md-3">
       <div class="img" style="height: 153px; width:153px">
     <img id="img6" src="{% static 'img/we6.jpeg' %}">
</div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class="img" style="height: 153px; width:153px">
 <img id="img7" src="{% static 'img/we7.jpeg' %}">
</div>
   </div>

   <div class = "col-sm-6 col-md-3">
    <div class="img" style="height: 153px; width:153px">
 <img id="img8" src="{% static 'img/we9.jpeg' %}">
</div>
   </div>
   </div>
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev" style="float:left; padding-right:-60px; width:9px; height:0px; margin-top:77px; color:MidnightBlue">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="ture"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next" style="float:right; margin-right: -60px; width:2px; height:0px; margin-top:77px; color:MidnightBlue">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
                     </div>
        </div>

{% endblock %}
        
</html>


