{% extends "dash.html" %} 
   {% block content %}
<div class="container_12">
  <div class="grid_12">
  <b> <h1> User Profile</h1>
	<div id="privacy-text">
          User Profile personalizes your web experience.  You can control how much of your Demographics &amp; Interests you reveal online (from <b>Coarse</b> to <b>Fine</b>).  The more you reveal, the more personalized your experience will be.  Firefox estimates this information based on your browsing behavior.<br/><br/>
          You are always in control of the information you reveal.  You can adjust your preferences at any time because Mozilla <em>requires</em> websites <strong>not</strong> to track this information of you.
	</div>
	</div>
<div class="container">
  <div class="col-md-3"></div>
   <div class="col-md-9">
<div>
YOUR FIRST NAME:{{request.user.first_name}}</div><br>
<div>
 YOUR LAST NAME: {{ request.user.last_name}}</div><br>
<div>
YOUR EMAIL: {{ request.user.email}}</div><br>
  
<div>YOUR LAST LOGIN ON:{{ request.user.last_login}}</div> <br>
<div>YOUR ACCOUTN ACTIVATE ON:{{ request.user.date_joined}}</div>       
 </div></div>
</div>






{% endblock %}
