{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 
<body style="font-family:oswald">
    <div class="wrapper"style="background-color:Lavender">
<img src='{% static "img/snap/00ser.jpg" %}' class="img-responsive inline"'

    <section id="company-information" class="choose">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <img src="{% static 'fotter/images/services/cro.jpg' %}" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 padding-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <h2>Why Choose Us?</h2>
                    <p>All relevant information collected through eCharity Foundation website is handled and used by internal and authorized officials only.<br /> Our Policy = Your Believes + Your Trust.</p>
                    <ul class="elements">
                        <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i> We holds the user friendly policies</li>
                        <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i> Help those who really need yours.</li>
                        <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i> Strictly attention for user confidentia details disclose.</li>
                        <li class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms"><i class="fa fa-angle-right"></i> Not taking any cash or banking statments.</li>
                        <li class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms"><i class="fa fa-angle-right"></i> always open to learn from our user/donater.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--/#company-information-->

    <section id="services" class="responsive inline">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="{% static 'fotter/images/services/happy4.jpeg' %}" alt="">
                        </div>
                        <h2>Incredible Humanity</h2>
                        <p>Not only for sake a show-off or for money; We love to help society with our Passions round.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="{% static 'fotter/images/services/Charity.jpg' %}" alt="">
                        </div>
                        <h2>Donate/Exchange</h2>
                        <p>Providing the plateform for donater and user to intarct with each-othere and feel the proud for help togather.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="{% static 'fotter/images/services/old8.jpeg' %}" alt="">
                        </div>
                        <h2>Our Shelter</h2>
                        <p>shelter program is based on communal living, in a home like environment. Communal living means sharing living.</p>
                    </div>
                </div>

                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="{% static 'fotter/images/services/we7.jpeg' %}" alt="">
                        </div>
                        <h2>Resource</h2>
                        <p>We promote public trust and confidence in the charitable sector and encourage the effective use of charitable resources around us.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="{% static 'fotter/images/services/ec1.jpeg' %}" alt="">
                        </div>
                        <h2>Nonprofit Consulting</h2>
                        <p>We offer general training and consulting services pro bono to nonprofits so that they can further develop organizational competencies to realize greater social impact in futre.</p>
                    </div>
                </div> 
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="{% static 'fotter/images/services/happy5.jpeg' %}" class="img-responsive" alt="">
                        </div>
                        <h2>Hand-Sharing</h2>
                        <p>We identify innovative and best practices in capacity building and share available skills, strategies and tools with the NGO & Charitable community..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container-fluid">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                           <h1 class="title">E-charity Corporate </h1>
                            <p>A responsive and trustfull &amp; for multipurpose Social Events.</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="/tour/" class="btn btn-common">TAKE THE TOUR</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#action-->

    <section id="recent-projects" class="recent-projects">
        <div class="container-fluid">
            <div class="row">
                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Recent Events</h1>
                <p class="text-center padding-bottom wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">We organize various charity event for everyone. <br>Taking part in any of our events means you’ll be a part of something special. </p>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'fotter/images/services/tamil.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static 'fotter/images/services/tamil.jpg' %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <h2>Tamilnadu Flood Relief</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'fotter/images/services/nepl.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static 'fotter/images/services/nepl.jpg' %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <h2>Nepal Camp</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'fotter/images/services/wmn.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static 'fotter/images/services/wmn.jpg' %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <h2>Social events</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'fotter/images/services/writ1.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static 'fotter/images/services/writ1.jpg' %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <h2>Inventry Auction</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="700ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'fotter/images/services/ec4.jpeg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static 'fotter/images/services/ec4.jpeg' %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <h2>Education</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="800ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'fotter/images/services/hcc.jpeg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static 'fotter/images/services/hcc.jpeg' %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <h2>Medical Help</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'fotter/images/services/fin.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static 'fotter/images/services/fin.jpg' %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <h2>Financial Independence</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="1000ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'fotter/images/services/0eldr.jpg' %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static 'fotter/images/services/0eldr.jpg' %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <h2>Elder Self-help Groups</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#recent-projects-->

    <section id="clients" class="responsive">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="{% static 'fotter/images/home/clients.png' %}" class="img-responsive" alt=""></p>
                        <h1 class="title">Happy Clients</h1>
                        <p>Our sponser are our clients and we work on thier suggestion<br> for the every of our step they back-up supports for us. </p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'fotter/images/services/01.png' %}" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'fotter/images/services/02.png' %}" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'fotter/images/services/03.png' %}" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'fotter/images/services/04.png' %}" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'fotter/images/services/05.png' %}" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{% static 'fotter/images/services/02.png' %}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!--/#clients-->

    <!--/#team-->

    
    
    <script type="text/javascript" src="{% static 'fotter/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/main.js' %}"></script>   

</html>
{% endblock %}



