{% extends "welcome.html" %}        
{% block content %}
{% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom CSS -->


    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

   
    <div class="intro-header">
  <h1 >Welcome <b>{{ request.user.username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </b> </h1><br>
                       
                     
                   
        <div class="container">
  
            <div class="row"> <div class="col-lg-2"></div>
                <div class="col-lg-10">
                   <h3>INSTANT MESSAGING </h3><br><br>
<div class="row" >
                <div class="col-md-3 col-sm-6 col-xs-6">           
		<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon" style="padding-top: 20px">
                 <i class="fa fa-envelope-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                    <a href="{% url 'messages_inbox' %}"><p class="text-muted">INBOX</p></a>
                </div> 
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon"  style="padding-top: 20px">
                    <i class="fa fa-external-link"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                    <a href="{% url 'messages_outbox' %}"><p class="text-muted">OUTBOX</p></a>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon"  style="padding-top: 20px">
                    <i class="fa fa-pencil-square-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                    <a href="{% url 'messages_compose' %}"><p class="text-muted">TEXT</p></a>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon"  style="padding-top: 20px">
                    <i class="fa fa-trash-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                    <a href="{% url 'messages_trash' %}"><p class="text-muted">TRASH</p></a>
                </div>
             </div>
		     </div></div>
			<hr>
<h1>EXPLORE YOUR DASHBOARD </h1>
                        <h3>Operations on Your Profile </h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{% url 'list' %}" class="btn btn-default btn-lg"><i class="fa fa-book fa-spin"></i> <span class="network-name">Donation</span></a>
                            </li>
                            <li>
                                <a href="{% url 'post_history' %}" class="btn btn-default btn-lg"><i class="fa fa-cog fa-spin"></i> <span class="network-name">Account Details</span></a>
                            </li>
                            <li>
                                <a href="{% url 'profiles' %}" class="btn btn-default btn-lg"><i class="fa fa-spinner fa-spin"></i> <span class="network-name">Personal</span></a>
                            </li>
                        </ul>
                    </div>
 
		     </div>
                       
        </div>
        <!-- /.container -->

    </div>

{% endblock %}  
