{% extends "welcome.html" %}        
{% block content %}
{% load staticfiles %}

    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">



</head>

  <div class="intro-header">
  <h1 >Welcome <b>{{ request.user.username }}&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </b> </h1><br> 
        <div class="container-fluid">
  
            <div class="row"> <div class="col-lg-2"></div>
                <div class="col-lg-10">
                   <h3>INSTANT MESSAGING </h3><br>
<div class="row"style="padding-left: 30px" >
              <a href="{% url 'messages_inbox' %}">  <div class="col-md-3 col-sm-6 col-xs-6">           
		<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon" style="padding-top: 20px">
                 <i class="fa fa-envelope-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                    <p class="text-muted">INBOX</p>
                </div> 
             </div>
		     </div></a>
                    <a href="{% url 'messages_outbox' %}"> <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon"  style="padding-top: 20px">
                    <i class="fa fa-external-link"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                   <p class="text-muted">OUTBOX</p>
                </div>
             </div>
		     </div></a>
                   <a href="{% url 'messages_compose' %}"> <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon"  style="padding-top: 20px">
                    <i class="fa fa-pencil-square-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                    <p class="text-muted">TEXT</p>
                </div>
             </div>
		     </div></a>
                  <a href="{% url 'messages_trash' %}">   <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon"  style="padding-top: 20px">
                    <i class="fa fa-trash-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"></p>
                   <p class="text-muted">TRASH</p>
                </div>
             </div>
		    </div></a></div>
			<hr>
<h1>EXPLORE YOUR DASHBOARD </h1>
                        <h3>Operations on Your Profile </h3>
                        <br>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{% url 'list' %}" class="btn btn-default btn-lg"><i class="fa fa-book fa-spin"></i> <span class="network-name">Donation</span></a>
                            </li>
                            <li>
                                <a href="{% url 'post_history' %}" class="btn btn-default btn-lg"><i class="fa fa-cog fa-spin"></i> <span class="network-name">Account Details</span></a>
                            </li>
                            <li>
                                <a href="{% url 'profiles' %}" class="btn btn-default btn-lg"><i class="fa fa-spinner fa-spin"></i> <span class="network-name">Personal</span></a>
                            </li>
                        </ul><br>
<hr class="intro-divider"><br>
                    </div>

		     </div>
                 
</div>  
        <!-- /.container-fluid -->


{% endblock %}  
