{% extends "base.html" %}
{% block content %}
{% load staticfiles %}  


<img src='{% static "img/snap/00term.jpg" %}'
</div>
  <div class="container-fluid" style="background-color: #81b1c9">  
    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="images/aboutus/5.png" class="margin-bottom" alt="">
                    <h1 class="margin-bottom" style="font-family:oswald">Term's Of Company</h1>
                    <p style="font-family:oswald">E-Charity Foundation is dedicated to protecting the privacy of its users.<br /> "The best way out is always through"</p>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-company-->
    
    <section id="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="images/home/icon1.png" alt="">
                        </div>
                        <h2 style="font-family:oswald">Termination of Agreement</h2>
                        <p style="font-family:oswald">We may terminate this Agreement and/or the user’s right to use the site at any time, with or without cause.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="images/home/icon2.png" alt="">
                        </div>
                        <h2 style="font-family:oswald">Warranty of Services</h2>
                        <p style="font-family:oswald">Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="images/home/icon3.png" alt="">
                        </div>
                        <h2 style="font-family:oswald">General Terms & Conditions</h2>
                        <p style="font-family:oswald">eCharity Foundation does not guarantee continuous, uninterrupted or secure access to our services.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><hr>
    <!--/#services-->
<div id="feature-container-fluid">
                <div class="row">
                    <!--/<div class="col-md-12">
                        <h2 class="page-header">Features</h2>
                    </div>-->
                    <div class="col-sm-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="feature-inner">
                            <div class="icon-wrapper">
                                <i class="fa fa-2x fa-envelope-o"></i>
                            </div>
                            <h2 style="font-family:oswald">Registration</h2>
                            <p style="font-family:oswald">Each applicant for user status must complete the registration; services are available only to them. </p>
                        </div>
                    </div>
                    <div class="col-sm-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                        <div class="feature-inner">
                            <div class="icon-wrapper">
                                <i class="fa fa-2x fa-heart-o"></i>
                            </div>
                            <h2 style="font-family:oswald">Data protection</h2>
                            <p style="font-family:oswald">The user undertakes  data security and to comply with all obligations in connection with data protection.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms">
                        <div class="feature-inner">
                            <div class="icon-wrapper">
                                <i class="fa fa-2x fa-star-o"></i>
                            </div>
                            <h2 style="font-family:oswald">Donate Things</h2>
                            <p style="font-family:oswald">User must be a valid user and inhance the privecy without to disclose others.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="1200ms">
                        <div class="feature-inner">
                            <div class="icon-wrapper">
                                <i class="fa fa-2x fa-comments-o"></i>
                            </div>
                            <h2 style="font-family:oswald">Service provided</h2>
                            <p style="font-family:oswald">e-charity web platform offers commentary functions to justify user with right information.</p>
                        </div>
                    </div>                        
                </div>
            </div>
    
    <!--/#action-->

    <section id="company-information" class="padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="about-us">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2 class="bold" style="font-family:oswald"> With respect to Personal Information </h2>
                        <div class="row">
                          
                            <div class="col-sm-12" style="font-family:oswald">
                                <h3 class="top-zero">Who we are</h3>
                                <p>1:  shall not be false, inaccurate or misleading OR shall not be fraudulent;<br>
   2: shall not infringe any third party's copyright, patent, trademark, trade secret;<br>
   3: shall not violate any law, statute, ordinance or regulation ;<br>
   4: shall not be defamatory, unlawfully threatening or unlawfully harassing;<br>
   5: shall not contain any viruses, Trojan horses, worms, time bombs or other computer programming routines for personal information;<br>
   </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="our-skills" style="font-family:oswald">
                            <h2 class="bold">Our Quality Test Ratio</h2>
                            <div class="single-skill">
                                <h3>TradeMark</h3>
                                <div class="progress" style="background-color: #106894">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="35" >35%</div>
                                </div>
                            </div>
                            <div class="single-skill" style="font-family:oswald">
                                <h3>Act & Law</h3>
                                <div class="progress"  style="background-color: #106894">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="80">80%</div>
                                </div>
                            </div>
<div class="single-skill" style="font-family:oswald">
                                <h3>Social ethics</h3>
                                <div class="progress"  style="background-color: #106894">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="80">80%</div>
                                </div>
                            </div>
                            <div class="single-skill" style="font-family:oswald">
                                <h3>Threads</h3>
                                <div class="progress"  style="background-color: #106894">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="60">60%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <section id="action">
        <div class="vertical-center" style="font-family:oswald">
             <div class="container-fluid"><u>OUR MOTTO</u>
                <div class="row">
                    <div class="action count">
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="7000" data-speed="3000" data-from="0"></h1>   
                            <h3>Secure donation</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="12" data-speed="3000" data-from="0"></h1>   
                            <h3>Long Years of Business</h3> 
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="432" data-speed="3000" data-from="0"></h1> 
                            <h3>Charity </h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="145" data-speed="3000" data-from="0"></h1> 
                            <h3>Total Smile</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
</div>
     <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/main.js"></script>   
    <script type="text/javascript" src="{% static 'fotter/js/jquery.countTo.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fotter/js/main.js' %}"></script>   

{% endblock %}




