{% extends "base.html"%}

{% block content %}
<div class="row">


    <div class='col-sm-8'>
         <h2>{{ object.title }}</h2>
         {% if object.productimage_set.count > 0 %}
        <div>
              {% for img in object.productimage_set.all %}
              <img class = 'img-responsive'src="{{ img.image.url }}" />
              {% endfor %}
              <p class='lead'>{{ object.description }}</p>
        </div>        
          {% endif %}
        

    </div>

    <!-- Product Sidebar --> 
    <div class='col-sm-4'>
        <h3>{{ object.price }}</h3>
        {% if object.variation_set.count > 1 %}
            <select class="form-control">
                {% for vari_obj in object.variation_set.all %}
                <option value="{{ vari_obj.id }}"> {{ vari_obj }}</option>  
                {% endfor %}
            </select>
        {% endif %}
        <br/>
 <p>ADD ON: {{object.date_created }}</p><br>
<p>Remains: {{object.quantity }}</p>
        <a href="#">Add to Cart</a>
<button type="button"  class="btn btn-info btn-lg" >Excahnge/Donate</button><br>
    </div>
       
</div>
</p>Last Update:{{object.date_Update}}</p><br>
       </p>Expire On:{{object.expire_date}}</p> <br> 

        <br/>
        <hr/>
        <h4>Related Project</h4>
    </div>
</div>
{% endblock %}
