{% extends "base.html" %}
{% load crispy_forms_tags %}        
{% load i18n %} 
{% block content %} 
<body>
<div class="container-fluid" class="responsive" style="height: auto; width: auto; background-color: DarkCyan">
<h1 style="color:white"><center><b>{% trans "Enquiry Message" %}<b></center></h1><br><hr/>
<div class="container-fluid" style="height:auto; width: auto; color:DarkCyan; background-color: PaleTurquoise"><br><br><br>
<h2>SEND MESSAGE FOR REQUEST..</h2><br>
<form action="" method="post">
{% csrf_token %} 
<table>
{{ form|crispy }}
</table>{{document.id}}
<input type="submit" class="btn btn-info btn-lg" value="{% trans "Send Message" %} &raquo;"/>
</form><br>
</div>
<br>
</div>

</body>

{% endblock %}

