{% extends "dashboard.html"%}

{% block content %}

        <a class="btn btn-default" href="{% url 'post_edit_list' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
<div class="row">


    <div class='col-sm-4'>

         
        <div><br>
			<h3 style="color:brown;"><lable>Donated Item:</lable></h3><br>
			{% if post %}<br>
                        <ul>
                        
                                
                                <img src="{{ post.docfile.url }}" style="width:330px; height:180px; border:1px solid brown; class="img-circle" alt="{{ post.docfile.name }}">
                                </a></li>
                        
                        </ul>
                {% else %}
                        <p>No documents.</p>
                {% endif %}
			<br>
             
        </div> 
        
    </div>

    <!-- Product Sidebar --> 
    <div class='col-sm-6'style="padding-left:200px">
        
        {% if object.variation_set.count > 1 %}
            <select class="form-control">
                {% for vari_obj in object.variation_set.all %}
                <option value="{{ vari_obj.id }}"> {{ vari_obj }}</option>  
                {% endfor %}
            </select>
        {% endif %}
        <br/>
		 <h3 style="color:brown;"><lable>Title:</lable></h3>
       {{post.title}}<br>
        <h3 style="color:brown;"><lable>Add On:</lable></h3>
       {{ post.date_created }}<br>
        <h3 style="color:brown;"><lable>Expire On:</lable></h3>
       {{post.expire_date}}<br> 
        <h3 style="color:brown;"><lable>Last Update:</lable></h3>
       {{post.date_Update}}
 
       
    </div></div>
	<div class="row">
	<div class="col-sm-9">
	<h3 style="color:brown; padding-top:20px"><lable>Description:</lable></h3>     
          <p><h4>{{ post.description }}</h4></p>
		</div>
      </div> 
    </div>
</div>
{% endblock %}
